.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
    padding-top: 30px;
}

.title {
    text-align: center;
    font-size: 30px;
    color: rgb(57, 50, 50);
    font-weight: 600;
    margin-bottom: 30px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    column-gap: 40px;
    flex-wrap: wrap;
}